
		.row1{
			background-color: ##DCDCDC3D;
		}
		img{
			background-color: #fff;
		}
		#dimg {
			width: 80%;
			height: 70%;
			margin: 20px 0;
			border-radius: 15px;
			background-color: ##DCDCDC3D;
		}
		.btn {
			font-weight: bolder;
			font-size: 20px;
			padding: 10px;
		}
		.footercurl {
			background-color: #070A20!important ;
			color: #fff;
			padding: 25px 0px;
		}
		h3{
			font-size: 20px !important;
		}
		@media only screen and (max-width: 425px){
			.btn {
				width:100%;
			}
			#dimg {
				width: 100%;
				margin: 10px 0;
			}
		}

		#loader { 
            border: 12px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 12px solid #444444; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 

        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 